<div class="flex flex-row justify-center items-center min-h-screen">
  <div class="w-full max-w-lg space-y-6 bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-center text-2xl font-bold">ログイン画面</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-3 mt-4 text-left">
        <%= f.label :email, class: "block text-gray-700" %>
        <%= f.email_field :email, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500", placeholder: "電話番号, ユーザ名, Eメール" %>
      </div>

      <div class="mb-3 text-left">
        <%= f.label :password, class: "block text-gray-700" %>
        <%= f.password_field :password, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500", placeholder: "パスワード" %>
      </div>

      <%# if devise_mapping.rememberable? %>
        <!--div class="field"-->
          <%#= f.check_box :remember_me %>
          <%#= f.label :remember_me %>
        <!--/div-->
      <%# end %>

      <%= f.submit "ログイン", class: "w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition" %>
    <% end %>

    <% if notice %>
      <p class="text-green-500 mt-2"><%= notice %></p>
    <% elsif alert %>
      <p class="text-red-500 mt-2"><%= alert %></p>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
